$filtros : '.ct_equiposfilter';
$primary-btncolor: #01113e;

#{$filtros}{
	padding-top: 30px;
	padding-bottom: 20px;
	&__tipo {
		background: rgba(255,255,255,1);
		background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(219,224,226,1) 100%);
		background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(50%, rgba(255,255,255,1)), color-stop(100%, rgba(219,224,226,1)));
		background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(219,224,226,1) 100%);
		background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(219,224,226,1) 100%);
		background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(219,224,226,1) 100%);
		background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(219,224,226,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dbe0e2', GradientType=0 );
	}
	&__lista {

	}
}


.carouselmovil{
	&__item {
		.col-lg-4 {
			padding: 0;
		}
	}
}


.imgfull {
	width: 100%;
	height: auto;
}
.tipo-equipos {
	&__img {

	}
	&__name {

	}
}

.container-filters {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	.equipo-title {

	}
	&__item {
		border: 0;
		border-radius: 0;
		color: $primary-btncolor;
		display: block;
		text-align: left;
		width: 100%;
		padding: 1.5rem .75rem 1.5rem 3.125rem;
		background-color: transparent;
		&:first-child {
			background-color: #db443c;
			color: #ffffff;
		}
		&:active, 
		&:hover,
		&:focus {
			background-color: transparent;
			color: #db443c;
		}
		&.equipo-title {
			&:active, 
			&:hover,
			&:focus {
				background-color: #db443c;
				color: #ffffff;
			}
		}
	}
}




$carousel : '.ct_equipomov';

#{$carousel}{
	&__carousel {
		height: 100%;
		.carousel-inner {
			height: 100%;
			.carousel-item {
				height: 100%;
				.carousel-h {
					height: 100%;
				}
			}
		}
		.carousel-icon {
			background-color: #c9c9c9;
			height: 50px;
			width: 28px;
			top: 42%;
			bottom: 42%;
			&:hover,
			&:focus {
				background-color: #db443c;
			}
		}
	}
}

$equipomov : '.equipomov';

#{$equipomov}{
	background-color: #fff;
	border: 1px solid #c9c9c9;
	height: 100%;
	display: flex;
    flex-direction: column;
    align-items: center;
	justify-content: space-between;
	// cursor: pointer;
	&__header {
		// display: block;
		// max-width: 32%;
		// margin: 0 auto;
		// height: auto;
		// padding-top: .5rem;
		position: relative;
		.equipomov-img {
			
		}
		.header-image {
			display: block;
			max-width: 32%;
			margin: 0 auto;
			height: auto;
			padding-top: .5rem;
		 }		     
	}
	&__body {

	}
	&:hover {
		// border: 4px solid #c5e9f6;
		// background-color: #c5e9f6;
		background: rgba(255,255,255,1);
				background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(192,231,245,1) 100%);
				background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(192,231,245,1)));
				background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(192,231,245,1) 100%);
				background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(192,231,245,1) 100%);
				background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(192,231,245,1) 100%);
				background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(192,231,245,1) 100%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#c0e7f5', GradientType=0 );
	}
}

.header-side {
	position: absolute;
    top: 0;
    right: 0;
    height: 100%;
	padding: .5rem;
	display: flex;
	align-items: center;
	flex-direction: column;
    justify-content: center;
	&__icon {
		width: 40px;
		height: 40px;
		border-radius: 50%;
		background: #cdcdcd;
		border: none; 
		margin: .3rem 0;
		outline: none;
		background: {
			image: url('../img/phone/phones/view.svg');
			size: 20px;
			repeat: no-repeat;
			position: center;
		}
		&:hover {
			background-color: #db443c;
		}
		&:focus {
			outline: none;
		}
	}
	.ico {
		&--view {
			background-image: url('../img/phone/phones/view.svg');
		}
		&--compare {
			background-image: url('../img/phone/phones/comparar.svg');
		}
	}
}

.element {
	text-align: center;
	position: relative;
	padding-top: 1.2rem;
	margin-top: .5rem;
	padding-bottom: 1.2rem;
	&__marca,
	&__modelo {
		color: #6f6f6f;
		font-size: 1.5rem;
	}
	&__marca {
		margin-bottom: 0;
	}
	&__prepublico {
		color: #304487;
		font-size: 1.5rem;
	}
	&__predis {
		display: block;
		font-size: 1rem;
		color: #989898;
		&.anterior {
			text-decoration: line-through;
		}
	}
	&:before {
		content: "";
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 10%;
		right: 0;
		margin: 0 auto;
		height: 5px;
		background: #5f2579;
	}
}