$ct_tipos-pago : '.ct_tipos-pago';

#{$ct_tipos-pago}{
	background: {
		image: url('../img/home/bg-pagos.jpg');
		repeat: repeat-x;
		position: top center; 
		size: contain;
	}
	&__box {
		.pagosbox {
			padding: 40px 40px 25px;
			position: relative;
			&__title {
				font-family: 'Myriad Pro Bold';
				font-size: 30px;
				color: #1a2b50;
				margin-bottom: 0;
			}
			&__description {
				font-size: 30px;
				color: #ffffff;
			}
			&:before {
				content: "";
				display: block;
				position: absolute;
				bottom: 32%;
				top: 32%;
				width: 4px;
				right: 0;
				margin: 0 auto;
				height: 50px;
				background: #1a2b50;
			}
			
		}
		&:last-child {
			.pagosbox:before {
				height: 0;
			}
		}		
	}

}