%buttoncat {
	display: inline-block;
	// font-weight: 400;
	color: #c6e2f6;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-color: #1f346f;
	border: 1px solid #1f346f;
	// padding: .375rem .75rem;
	padding: .8rem 1rem;
	font-size: 1rem;
	line-height: 1.5;
	border-radius: .25rem;
	transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;  
}

.btn-theme {
  @extend %buttoncat;
  &:hover {
  	color: #fff;
  }
}

.btncol {
	&--red {
		@extend %buttoncat;
		background-color: #d83e3d;
		border: 1px solid #d83e3d;
		font-size: 1.2rem;
		&:hover {
			color: #fff;
		}
	}
	&--purple {
		@extend %buttoncat;
		background-color: $purphe-link;
		border: 1px solid $purphe-link;
		font-size: 1rem;
		&:hover {
			color: #fff;
		}
	}
}

.btnsize {
	&--small {
		font-size: 1.14rem;
		display: block;
		width: 80%;
		margin: 0 auto;
	}
	&--medium {
		font-size: 1.38rem;
		width: 60%;
		margin: 0 auto;
		display: block;
	}
}